<table class="results-table">
  <thead>
    <tr>
      <th>Drug Name</th>
      <th>Brand</th>
      <th>PBS Code</th>
      <th>Program</th>
      <th>Benefit Type</th>
      <th>Price</th>
      <th>First Listed</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ item.drug_name }}</td>
        <td>{{ item.brand_name }}</td>
        <td>{{ item.pbs_code }}</td>
        <td>{{ item.program_code }}</td>
        <td>{{ item.benefit_type_code }}</td>
        <td>{{ item.determined_price }}</td>
        <td>{{ item.first_listed_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
